<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <title>Home - Admin Panel</title>
    <style>
      .quiz-card {
        flex-basis:100%;
      }
      @media screen and (min-width:800px) {
        .quiz-card {
          flex-basis:40%;
        }
      }
      @media screen and (min-width:1100px) {
        .quiz-card {
          flex-basis:21%;
        }
      }
      .hidden-imp {
        display:none!important;
      }
    </style>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../templates/header-7-by-8.ejs') %>

    <% 
        function print_plural(singular, n) {
            if (n > 1 || n == 0) {return singular + "s";}
            else {return singular;}
        } 
        // let colors = ["bg-green-500","bg-blue-500","bg-pink-500","bg-yellow-500","bg-indigo-500","bg-red-500", "bg-purple-500"]
    %>


    <!-- Hidden Modal -->
    <p class="hidden" id='site-domain-name'><%= site_domain_name %></p>
    <div id="modal" class="h-screen w-screen inset-0 absolute z-30 bg-black bg-opacity-60 hidden-imp">
      <div class="mx-auto mt-10 w-1/2 bg-white left-1/4 translate-x-2/4 shadow-xl pb-2">
        <div class="bg-green-400 text-white py-3 px-3 grid grid-cols-2 content-center">
          <h3 class="text-xl col-auto justify-self-start self-center"><i class="fas fa-link text-xl text-white"></i> Invite Link Manager</h3>
          <i class="fas fa-times text-white cursor-pointer col-auto justify-self-end self-center" onClick="hideModal()"></i>
        </div>
        <div class="py-4 px-8">
          
          <form id='invite-link-creation-form'>
            <p id='invite-link-error'></p>
            <div><label class="text-gray-800">Set Link URL: </label><input type="text" name="url" minlength="2" placeholder="sept-2021-cohort" class="mt-2 px-2 py-1 border-2 border-r-0 border-gray-100 inline-block text-blue-600" id='invite-url-field'><button type="submit" class="bg-green-500 text-white px-4 py-2 cursor-pointer hover:bg-green-600"><i class='fas fa-plus'></i> Create New Link</button><i class="fas fa-spinner text-lg ml-2 hidden-imp animate-spin" id='link-creation-spinner'></i></div>
            <input type="hidden" name="quizId" id="invite-quiz-id">
            <p id='real-time-link' class="mt-2 text-gray-800 text-sm"></p>
            <p class="text-gray-500 mt-2 text-sm">Note: The link will only work if you click on the Create New Link button.</p><br>
          </form>
        </div>
        <div class="bg-gray-600 text-white py-2 px-3">
          <h3 class="text-lg">Previous Links</h3>
          
        </div>
        <div class="py-4 px-8">
          
          <table id='previous-links-table' class="w-full text-left">
            <thead>
              <tr>
                <th>Invite Link</th><th>Quiz Name</th><th>Number of Registrations</th><th>Created On</th>
              </tr>
            </thead>
            <tbody id='previous-links-table-body'>

            <% for (var i = 0; i <all_invites.length;  i++ ) { %>
              <tr>
                <td><%= site_domain_name %>/invite/<span class="text-blue-600"><%= all_invites[i].link %></span></td><td><%= all_invites[i].Quiz.title %></td><td class="text-blue-600"><a href="quiz/registrations/<%= all_invites[i].link%>"><%= all_invites[i].registrations %> (View All)</a></td><td><%= moment(all_invites[i].createdAt).format('Do MMMM, YYYY') %></td>
              </tr>
            <% } %>
            </tbody>
            </table>
        </div>
      </div>
    </div>
    <div>
      
      <%- include("../templates/admin-sidemenu.ejs") %>

      <section class="py-4 px-10 md:p-10 w-full md:w-7/8 float-right mr-0" id="main-section">
        <div class="md:mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
          
        </div>
        <div class="w-full">
          <h2 class="text-xl mt-6 mb-4 font-bold">Quizzes <a href="/quiz/new" class="text-xs px-4 py-1 cursor-pointer bg-iec-blue hover:bg-iec-blue-hover text-white rounded-full">NEW</a></h2>
          <% if (all_quizzes.length==0) { %>
            <p>No quizzes to show.</p>
          <% } else { %> 
          <% if (query.error) {%>
            <p class="text-red-600">Could not delete quiz. This quiz has student answers or invites associated with it.</p>  <br>
          <%} %>
          <div id="all-quizzes" class="flex flex-wrap justify-start gap-y-10 gap-x-10">
            <% for (let i=0;i<all_quizzes.length;i++) { %>
            <div class="grid w-64 grid-cols-6 gap-4 border bg-white pb-2 quiz-card">
              <div class="grid grid-cols-8 col-span-8 h-16 bg-iec-blue justify-center content-center">
                <a href="/quiz/edit/<%= all_quizzes[i].id %>" class="text-white text-xl col-start-2 col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="Edit Quiz"><i class="far fa-edit "></i></a>
                <a class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" href="/quiz/preview/<%= all_quizzes[i].id %>/" title="Preview Quiz"><i class="fa fa-eye"></i></a>
                <a class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" href="/quiz/duplicate/<%= all_quizzes[i].id %>" title="Duplicate Quiz"><i class="far fa-copy"></i></a>
                <a class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="Assign to Applicants" href="/quiz/assign/<%= all_quizzes[i].id %>"><i class="fas fa-users"></i></a>
                <a class="text-white text-xl col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" href="/quiz/<%= all_quizzes[i].id %>/results" title="View Results"><i class="fas fa-poll-h"></i></a>
                <div class="col-span-1 self-center justify-self-center cursor-pointer relative" title="More Options">
                  <i class="fas fa-ellipsis-v text-white text-xl hover:text-gray-100" onClick="toggleDropdown(<%= all_quizzes[i].id %>)"></i>
                  <div class="absolute z-10 w-max border shadow-lg hidden text-sm" id="quiz-dropdown-<%=all_quizzes[i].id%>">
                    <ul>
                      <li class="py-3 px-6 bg-white hover:bg-gray-100 grid grid-cols-6" data-current-reminder-setting="<%=all_quizzes[i].sendReminderEmails%>" data-quiz-id="<%= all_quizzes[i].id %>" onClick="toggleReminderEmailSetting(this)"><%- all_quizzes[i].sendReminderEmails ? "<i class='fas fa-envelope col-start-1 col-span-1 self-center'></i> <span class='col-start-2 col-span-5 self-start w-max'>Disable Reminder Emails</span>" : "<i class='far fa-envelope col-start-1 col-span-1 self-center'></i> <span class='col-start-2 col-span-5 w-max'>Enable Reminder Emails</span>" %></li>
                      <li class="py-3 px-6 bg-white hover:bg-gray-100"><a class="grid grid-cols-6" href="/quiz/delete/<%= all_quizzes[i].id %>"><i class="fas fa-trash col-start-1 col-span-1 self-center"></i> <span class='col-start-2 col-span-5 self-start w-max'>Delete Quiz</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <h3 class="col-span-6 font-semibold text-lg px-4"><%= all_quizzes[i].title %></h3>
              <div class="col-start-1 col-span-3"><p class="pl-4 pt-0"><%= all_quizzes[i].num_sections %> <%= print_plural("Section",all_quizzes[i].num_sections) %></p></div>
              <div class="col-start-4 col-span-3"><p class="pr-4 pt-0"><%= all_quizzes[i].num_questions %> <%= print_plural("Question",all_quizzes[i].num_questions) %></p></div>
            </div>
            
            <% }} %>
          </div>
        </div>
      </section>
    </div>
    
    <%- include('templates/script-include.ejs', {script_file_name: 'admin-panel.js'}) %>
  </body>
</html>
