<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <title>Preview Quiz - Admin Panel</title>
</head>
<body class="px-32 pt-28 min-h-screen bg-gray-200">
    <%- include('../templates/header.ejs') %>
    
    <h1 class="text-2xl"><%= quiz_title %> - Sections to Preview</h1>
    <section class="p-8 bg-white rounded-md w-full mx-auto mt-8 min-h-screen overflow-auto text-md">
        
        <table class='w-full text-left mx-auto' id='sections_table'>
            <thead class="bg-iec-blue text-white w-full">
                <tr class="w-full">
                    <th class="py-3 px-6">Section Id</th>
                    <th class="py-3 px-6">Section Title</th>
                    <th class="py-3 px-6">Preview</th>
                </tr>
            </thead>
            <tbody class="w-full" id='score-table-body'>
                <% for (let i=0;i<sections.length;i++) { %>
                <tr>
                    <td class="py-3 px-6"><%=sections[i].id%></td>
                    <td class="py-3 px-6"><%=sections[i].title%></td>
                    <td class="py-3 px-6"><a href="/quiz/preview/<%=quiz_id%>/section/<%=sections[i].id%>" class="text-blue-600 hover:underline">Click to Preview</a></td>
                </tr>             
                <% } %>   
            </tbody>
        </table>
    </section>

</body>
</html>