<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <title>View Registrations - Admin Panel</title>
</head>
<body class="px-32 pt-28 min-h-screen bg-gray-200">
    <%- include('../templates/header.ejs') %>

    <h1 class="text-2xl">Registrations</h1>
    <section class="p-8 bg-white rounded-md w-full mx-auto mt-8 min-h-screen">
    <p>List of students who registered using link: <span class="text-blue-600"><%= full_link %></span></p><br>
    
    <a href="#" onclick="download_table_as_csv('registrations_table');" class="float-right text-blue-600 mb-2 mr-4"><i class="fas fa-download"></i> <span class="underline hover:no-underline ">Download as CSV</span></a>
    <table class='w-full text-left mx-auto' id='registrations_table'>
        <thead class="bg-iec-blue text-white w-full">
            <tr class="w-full">
                <th class="py-3 px-6">Student Name</th>
                <th class="py-3 px-6">Email Address</th>
                <th class="py-3 px-6">Phone Number</th>
                <th class="py-3 px-6">CNIC Number</th>
                <th class="py-3 px-6">Time Of Registration</th>
                <th class="py-3 px-6">Assessment Solved</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student=>{
                %>
            <tr>
                <td class="py-3 px-6"><%= student.firstName + " " + student.lastName %></td>
                <td class="py-3 px-6"><%= student.email %></td>   
                <td class="py-3 px-6"><%= student.phone %></td> 
                <td class="py-3 px-6"><%= student.cnic %></td>
                <td class="py-3 px-6"><%= student.createdAt %></td>
                <td class="py-3 px-6"><%= student.status %></td>
            </tr>
                <%
            }) 
            %>
        </tbody>
    </table>
</section>
<script src="/js/view_results.js"></script>
</body>
</html>