<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Result Analysis - Admin Panel</title>
    <style>
        #score-table-body > tr:nth-child(even) {
            background-color:#f6f6f6;
        }
    </style>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body class="px-8 md:px-32 pt-28 min-h-screen bg-gray-200">
    <%- include('../templates/header.ejs') %>
    <% const data = data_obj.data;
        const analysis = data_obj.analysis;
    %>

    <h1 class="text-2xl"><%= data_obj.quiz_title %> - Result Analysis</h1>
    <section class="p-8 bg-white rounded-md w-full mx-auto mt-8 min-h-screen text-xs">
        <ul class="list-disc ml-4 text-base">
            <li>Total students: <%= analysis.total_students %></li>
        </ul>
        <% if (data.length!=0) {
        %>
        <div class="hidden">
            <input type="number" id="num_students_who_started_but_did_not_complete" value="<%=analysis.num_students_who_started_but_did_not_complete%>">
            <input type="number" id="num_students_who_completed" value="<%=analysis.num_students_who_completed%>">
            <input type="number" id="total_students" value="<%=analysis.total_students%>">

            <input type="text" id='percentage_ranges' class="hidden" value="<%
                for (let i=0;i<analysis.percentage_ranges.length;i++) {
                    if (i!=analysis.percentage_ranges.length-1) {
                    %><%=analysis.percentage_ranges[i] + ", "%><%
                    } else {
                    %><%=analysis.percentage_ranges[i]%><%
                    }
                }    
            %>">
        </div>

        <div class="flex flex-col md:flex-row w-full">
            <div style="flex-basis:50%;">
                <canvas id="num_students_chart"></canvas>
            </div>
            <div style="flex-basis:50%;">
                <canvas id="percentage_ranges_chart"></canvas>
            </div>  
        </div>  
        <%
        } else {%>
            <p>No results found.</p>    
        <%} %>
    </section>

    <script src="/js/view_result_analysis.js" async defer></script>
</body>
</html>