<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %>

    <%- include('../../templates/react-includes.ejs') %>
    <title>Orientation - Admin Panel</title>
    <style>
      .quiz-card {
        flex-basis:100%;
      }
      @media screen and (min-width:800px) {
        .quiz-card {
          flex-basis:40%;
        }
      }
      @media screen and (min-width:1100px) {
        .quiz-card {
          flex-basis:21%;
        }
      }
      .hidden-imp {
        display:none!important;
      }
    </style>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../../templates/header-7-by-8.ejs') %>

    <div>
      <section class="h-screen bg-iec-blue text-white text-xs md:text-base ml-0 fixed w-2/8 md:w-1/8 mt-16" id="side-menu">
        <div class="cursor-pointer">
          <% let phases = [{name: "Applications", link: "/admin/applications/"},{name: "Quizzes", link: "/admin/"},{name: "Orientation", link: "/admin/orientation/"},{name: "Interviews", link: "/admin/interview/"},{name: "Onboarding", link: "/admin/onboarding/"}] 
          
          phases.forEach(phase=>{
            if (phase.link!=current_url) {
            %>
            <a class="px-4 py-2 md:py-4  bg-iec-blue w-full hover:bg-iec-blue-hover grid grid-cols-6 items-center" href="<%=phase.link%>"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5"><%=phase.name%></span>
          </span></a>
          <%} else {%>
            <a class="px-4 py-2 md:py-4 bg-gray-200 text-gray-900 grid grid-cols-6 items-center" href="<%=phase.link%>"><i class="far fa-envelope col-span-2 md:col-span-1"></i> <span class="col-span-4 md:col-span-5"><%=phase.name%></span>
          </span></a>

          <%}
        
        })
          %>
        </div>
      </section>

      <section class="p-10 w-6/8 md:w-7/8 float-right mr-0" id="main-section">
        <div class="mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
          
        </div>
        <div class="w-full" id="app">
          
        </div>
      </section>
    </div>

    <script src="/js/orientation_home.js" type="text/babel"></script>
  </body>
</html>
