<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %> <%-
    include('../../templates/react-includes.ejs') %>
    <title>Assign Quiz to Students - Admin Panel</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../../templates/header-7-by-8.ejs') %>

    <div>
      <section
        class="h-screen bg-iec-blue text-white text-xs md:text-base ml-0 fixed w-2/8 md:w-1/8 mt-16"
        id="side-menu"
      >
        <%- include("../../templates/admin-sidemenu.ejs") %>
      </section>

      <section class="p-10 w-6/8 md:w-7/8 float-right mr-0" id="main-section">
        <div class="mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
        </div>
        <input type="hidden" id="quiz-id-field" value="<%= quiz_id %>" />
        <div class="w-full" id="app"></div>
      </section>
    </div>

    <script src="/js/admin/quiz/assign.js" type="text/babel"></script>
  </body>
</html>
