<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/luxon.js"></script>
    <script></script>
    <!-- ReactJS and ReactDOM -->
    <% if (env=="development") {%>
    <!-- Replace these with production links. These are dev links. -->
    <script
      crossorigin
      src="https://unpkg.com/react@17/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"
    ></script>
    <%} else if (env=="production") {%>
    <script
      crossorigin
      src="https://unpkg.com/react@17/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"
    ></script>
    <%}%>
    <!-- Babel -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <title>Attempt Quiz - Student Panel</title>
  </head>
  <body
    class="bg-gradient-to-br from-green-300 to-blue-300 min-h-screen px-6 sm:px-16 md:px-40 pt-24 sm:pt-32"
  >
    <%- include('../templates/header-attempt.ejs') %>

    <input type="hidden" id="sectionId" value="<%= sectionId %>" />
    <p class="hidden" id="sectionTitle"><%= sectionTitle %></p>
    <p class="hidden" id="quizTitle"><%= quizTitle %></p>
    <input type="hidden" id="previewOrNot" value="<%= previewOrNot %>" />
    <div id="app"></div>
    <script src="/js/attempt.js" type="text/babel"></script>

    <p
      class="text-center fw-light font-monospace text-iec-blue hover:text-iec-blue-hover underline hover:no-underline cursor-pointer my-4 fs-6"
    >
      <a href="mailto:mail@iec.org.pk?body=" id="support_email" target="_blank"
        >Click here to Report a Problem to mail@iec.org.pk</a
      >
    </p>

    <script>
      // store console logs for error reporting
      console.stdlog = console.log.bind(console);
      console.logs = [];
      console.log = function () {
        let last_index = console.logs.push(Array.from(arguments)) - 1;
        console.logs[last_index] = JSON.stringify(console.logs[last_index]);
        $("#support_email").prop(
          "href",
          `mailto:mail@iec.org.pk?body=${encodeURIComponent(
            "Console Data (do not change): " + console.logs.toString()
          )}`
        );
        console.stdlog.apply(console, arguments);
      };
    </script>
  </body>
</html>
