<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %> <%-
    include('../../templates/react-includes.ejs') %>
    <title>View Application Round - Admin Panel</title>
    <style>
      .quiz-card {
        flex-basis: 100%;
      }
      @media screen and (min-width: 800px) {
        .quiz-card {
          flex-basis: 40%;
        }
      }
      @media screen and (min-width: 1100px) {
        .quiz-card {
          flex-basis: 21%;
        }
      }
      .hidden-imp {
        display: none !important;
      }
    </style>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../../templates/header-7-by-8.ejs') %>

    <div>
      <%- include("../../templates/admin-sidemenu.ejs") %>

      <section class="p-10 w-full md:w-7/8 float-right mr-0" id="main-section">
        <div class="md:mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
        </div>
        <input
          type="hidden"
          id="application-round-id-field"
          value="<%= application_round_id %>"
        />
        <div class="w-full overflow-auto" id="app"></div>
      </section>
    </div>

    <script src="/precompiled-js/download_table_as_csv.js"></script>
    <script src="/precompiled-js/data_lists.js" type="text/javascript"></script>
    <script
      src="/precompiled-js/react-components/ApplicantDetailsModal.js"
    ></script>
    <script
      src="/precompiled-js/react-components/ApplicationsList.js"
    ></script>
    <script
      src="/precompiled-js/admin/application/view_round.js"
    ></script>
  </body>
</html>
