<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../../templates/global.ejs') %>
    <%- include('../../templates/react-includes.ejs') %>
    <title>Create New Interview Round - Admin Panel</title>
  </head>

  <body class="px-8 md:px-32 pt-28 min-h-screen bg-gray-200">
    <%- include('../../templates/header.ejs') %>
    <input id="interview-round-name-field" type="hidden" class="hidden" value="<%=interview_round_name%>"></input>
    <input id="interview-round-id-field" type="hidden" class="hidden" value="<%=interview_round_id%>"></input>
  
    <section
      id="app"
    ></section>

    <script src="/js/react-components/EmailForm.js" type="text/babel" defer></script>
    <script src="/js/react-components/NewStudentAdder.js" type="text/babel" defer></script>
    <script src="/js/react-components/StudentsList.js" type="text/babel" defer></script>
    <script src="/js/admin/interview/new.js" type="text/babel" defer></script>
  </body>
</html>
