<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %>
    <title>Home - Interviewer Panel</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../templates/header-7-by-8.ejs') %>

    <div>
      <section class="p-10" id="main-section">
        <div class="mt-16">
          <h1 class="text-2xl">Welcome <%= myname %></h1>
          
        </div>
        <div class="w-full">
          <h2 class="text-xl mt-6 mb-4 font-bold">Interview Rounds</h2>
          <% if (interview_rounds.length==0) { %>
            <p>No interview roudns to show.</p>
          <% } else { %> 
          <div id="all-interview-rounds" class="flex flex-wrap justify-start gap-y-10 gap-x-10">
            <% for (let i=0;i<interview_rounds.length;i++) { %>
            <div class="grid w-64 grid-cols-6 gap-4 border bg-white pb-2 quiz-card">
              <div class="flex flex-row col-span-8 h-16 bg-iec-blue justify-center content-center">
                <a href="/admin/interview/declare-time-slots/<%= interview_rounds[i].id %>" class="text-white text-xl col-start-2 col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="Declare Time Slots"><i class=" p-2 fas fa-calendar-day"></i></a>

                <a href= "/admin/interview/<%= interview_rounds[i].id %>/view-students"  class="text-white text-xl col-start-2 col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="View Matched students">
                  <i class=" p-2 fas fa-users"></i>
                </a> 
                <!-- <a class="text-white text-xl col-start-3 col-span-1 self-center justify-self-center hover:text-gray-100 cursor-pointer" title="View Details" href="/admin/interview/interviewer-details/<%= interview_rounds[i].id %>"><i class=" p-2 far fa-eye"></i></a> -->
              </div>
              <h3 class="col-span-6 font-semibold text-lg px-4"><%= interview_rounds[i].title %></h3>
              <div class="col-start-1 col-span-6 text-iec-blue hover:text-iec-blue-hover underline hover:no-underline cursor-pointer"><a href="/admin/interview/declare-time-slots/<%= interview_rounds[i].id %>" class="pl-4 pt-0"><i class="far fa-calendar"></i> Select Interview Slots</a></div>
            </div>
            <% }} %>
          </div>
        </div>
      </section>
    </div>

  </body>
</html>
