<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../templates/global.ejs') %> <%-
    include('../templates/react-includes.ejs') %>
    <script src="/js/luxon.js"></script>
    <title>Time Slot Picker - Interviewer Panel</title>
  </head>
  <body class="min-h-screen bg-gray-200">
    <%- include('../templates/header-7-by-8.ejs') %>

    <div>
      <section class="p-10 w-6/8 md:w-7/8 mx-auto" id="main-section">
        <div class="mt-16">
          <h1 class="text-2xl"><%= myname %>'s Time Slots</h1>
          <section class="p-8 bg-white rounded-md w-full mx-auto mt-8">
            <input
              type="hidden"
              id="interview-round-id"
              value="<%=interview_round_id%>"
            />
            <h2 class="text-xl font-bold">
              Interview Round: <%=interview_round_title%>
            </h2>
            <p className="text-gray-700 text-sm">
              Please declare times in the Pakistani Time Zone.
            </p>
            <div id="app" class="mt-2"></div>
          </section>
        </div>
      </section>
    </div>
    <%- include('templates/script-include.ejs', {script_file_name: 'time-slot-picker.js', defer: true}) %>
  </body>
</html>
